@layer theme, base, antd, components, utilities;

@import 'tailwindcss';

@theme {
    --breakpoint-3xl: 1920px;
    --color-avocado-100: oklch(0.99 0 0);
    --color-avocado-200: oklch(0.98 0.04 113.22);
    --color-avocado-300: oklch(0.94 0.11 115.03);
    --color-avocado-400: oklch(0.92 0.19 114.08);
    --color-avocado-500: oklch(0.84 0.18 117.33);
    --color-avocado-600: oklch(0.53 0.12 118.34);
    --color-avocado-777: oklch(0.53 0.12 118.34);
    --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
    --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
    /* ... */
}

/* Both reset.css and antd.css must specify a layer */
@layer reset, antd;

/* reset styles */
/* @import url(reset.css) layer(reset); */

/* antd styles */
/* @import url(antd.css) layer(antd); */

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    /* Fixed dark theme (not tied to system) */
    color-scheme: dark;
    --main-bg: #242424;
    --button-bg: #1a1a1a;
    --text: #ffffff;
    --sub-text: #a3a3a3;
    --switch-bg: #141414;
    --switch-button: #ffffff;

    color: var(--text);
    background-color: var(--main-bg);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--main-bg);
}

#root {
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    min-width: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}
